Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [1]:
# MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that 
# enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

In [2]:
# A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.
# Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

In [3]:
# In comparison to the SQL server, MongoDB is faster and more scalable. While the SQL server supports JOIN and Global transactions, MongoDB does not. 
# The MS SQL server does not accommodate large amounts of data, however MongoDB does.

In [4]:
# MongoDB, especially as a cloud database, because it enables them to build applications faster, handle highly diverse data types, and manage
# applications more efficiently at scale.

Q2. State and Explain the features of MongoDB.

In [5]:
# MongoDB supports Master Slave replication. MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its
# running condition in case of hardware failure. It has an automatic load balancing configuration because of data placed in shards.

In [6]:
# Features of MongoDB

# 1. Support ad hoc queries

# In MongoDB, you can search by field, range query and it also supports regular expression searches.

# 2. Indexing

# You can index any field in a document.

# 3. Replication

# MongoDB supports Master Slave replication.

# A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

# 4. Duplication of data

# MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

# 5. Load balancing

# It has an automatic load balancing configuration because of data placed in shards.

# 6. Supports map reduce and aggregation tools.

# 7. Uses JavaScript instead of Procedures.

# 8. It is a schema-less database written in C++.

# 9. Provides high performance.

# 10. Stores files of any size easily without complicating your stack.

# 11. Easy to administer in the case of failures.

# 12. It also supports:

# JSON data model with dynamic schemas
# Auto-sharding for horizontal scalability
# Built in replication for high availability

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://ngarg0098:naman_data_science@cluster0.7ft3vqb.mongodb.net/?retryWrites=true&w=majority")
db = client.test2

In [3]:
client = pymongo.MongoClient("mongodb+srv://ngarg0098:naman_data_science@cluster0.7ft3vqb.mongodb.net/?retryWrites=true&w=majority")

In [4]:
db = client['connections']     # connections -> Data Base

In [5]:
coll_connections = db["my_state"]       # my_state -> collection name

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
base = {
    "name":"naman",
    "class":"data science masters course ",                         # <-- document 
    "time":"9:0 AM"
}

In [7]:
coll_connections.insert_one(base)

In [8]:
base2 = [
  { "name": "Ammy", "address": "Apple st 652" },
  { "name": "Hagnnah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },                           # -> json file or json object hain hamara pass yaha
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [9]:
coll_connections.insert_many(base2)

In [10]:
coll_connections.find_one()

{'_id': ObjectId('64ca749cf0a88d75140ee672'),
 'name': 'naman',
 'class': 'data science masters course ',
 'time': '9:0 AM'}

In [11]:
coll_connections.find()

In [12]:
for i in coll_connections.find():
    print(i)

{'_id': ObjectId('64ca749cf0a88d75140ee672'), 'name': 'naman', 'class': 'data science masters course ', 'time': '9:0 AM'}
{'_id': ObjectId('64ca751ef0a88d75140ee673'), 'name': 'Ammy', 'address': 'Apple st 652'}
{'_id': ObjectId('64ca751ef0a88d75140ee674'), 'name': 'Hagnnah', 'address': 'Mountain 21'}
{'_id': ObjectId('64ca751ef0a88d75140ee675'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64ca751ef0a88d75140ee676'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64ca751ef0a88d75140ee677'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64ca751ef0a88d75140ee678'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64ca751ef0a88d75140ee679'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64ca751ef0a88d75140ee67a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64ca751ef0a88d75140ee67b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64ca751ef0a88d75140ee67c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64ca751ef0a88d75140ee67d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64ca751ef0a88d75140ee67e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64ca79f4f0a88d75140ee67f'), 'name': 'rahul', 'age': 18}
{'_id': ObjectId('64ca79f4f0a88d75140ee680'), 'name': 'Amy', 'age': 25}
{'_id': ObjectId('64ca79f4f0a88d75140ee681'), 'name': 'Hannah', 'age': 19}
{'_id': ObjectId('64ca79f4f0a88d75140ee682'), 'name': 'Michael', 'age': 23}
{'_id': ObjectId('64ca79f4f0a88d75140ee683'), 'name': 'Sandy', 'age': 27}
{'_id': ObjectId('64ca79f4f0a88d75140ee684'), 'name': 'Betty', 'age': 45}
{'_id': ObjectId('64ca7e53f0a88d75140ee685'), 'name': 'rahul', 'age': '18'}
{'_id': ObjectId('64ca7e53f0a88d75140ee686'), 'name': 'Amy', 'age': '25'}
{'_id': ObjectId('64ca7e53f0a88d75140ee687'), 'name': 'Hannah', 'age': '19'}
{'_id': ObjectId('64ca7e53f0a88d75140ee688'), 'name': 'Michael', 'age': '23'}
{'_id': ObjectId('64ca7e53f0a88d75140ee689'), 'name': 'Sandy', 'age': '27'}
{'_id': ObjectId('64ca7e53f0a88d75140ee68a'), 'name': 'Betty', 'age': '45'}
{'_id': ObjectId('64ccc9c0b6c6712f0e5173f4'), 'name': 'naman', 'class': 'data science masters course ', 'time': '9:0 AM'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f5'), 'name': 'Ammy', 'address': 'Apple st 652'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f6'), 'name': 'Hagnnah', 'address': 'Mountain 21'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173ff'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64ccc9c1b6c6712f0e517400'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517401'), 'name': 'rahul', 'age': '18'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517402'), 'name': 'Amy', 'age': '25'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517403'), 'name': 'Hannah', 'age': '19'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517404'), 'name': 'Michael', 'age': '23'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517405'), 'name': 'Sandy', 'age': '27'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517406'), 'name': 'Betty', 'age': '45'}
{'_id': ObjectId('64cf3f2690c55808b5630e31'), 'name': 'naman', 'class': 'data science masters course ', 'time': '9:0 AM'}
{'_id': ObjectId('64cf3f2890c55808b5630e32'), 'name': 'Ammy', 'address': 'Apple st 652'}
{'_id': ObjectId('64cf3f2890c55808b5630e33'), 'name': 'Hagnnah', 'address': 'Mountain 21'}
{'_id': ObjectId('64cf3f2890c55808b5630e34'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64cf3f2890c55808b5630e35'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64cf3f2890c55808b5630e36'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64cf3f2890c55808b5630e37'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64cf3f2890c55808b5630e38'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64cf3f2890c55808b5630e39'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64cf3f2890c55808b5630e3a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64cf3f2890c55808b5630e3b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64cf3f2890c55808b5630e3c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64cf3f2890c55808b5630e3d'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [19]:
# In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that
# points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.

In [13]:
coll_connections.find({'name':'Ben'})

In [14]:
for i in coll_connections.find({'name':'Ben'}):
    print(i)

{'_id': ObjectId('64ca751ef0a88d75140ee67b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64cf3f2890c55808b5630e3a'), 'name': 'Ben', 'address': 'Park Lane 38'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [15]:
# In MongoDB, sort() method is used to sort the documents in the collection. This method accepts a document containing list of fields along with 
# their sorting order.

In [16]:
base2 = [
    {"name":"rahul", "age":'18'},
    { "name": "Amy", "age":'25'},
    { "name": "Hannah", "age":'19'},
    { "name": "Michael", "age":'23'},
    { "name": "Sandy", "age":'27'},
    { "name": "Betty", "age":'45'}
]

In [17]:
coll_connections.insert_many(base2)

In [18]:
for i in coll_connections.find():
    print(i)

{'_id': ObjectId('64ca749cf0a88d75140ee672'), 'name': 'naman', 'class': 'data science masters course ', 'time': '9:0 AM'}
{'_id': ObjectId('64ca751ef0a88d75140ee673'), 'name': 'Ammy', 'address': 'Apple st 652'}
{'_id': ObjectId('64ca751ef0a88d75140ee674'), 'name': 'Hagnnah', 'address': 'Mountain 21'}
{'_id': ObjectId('64ca751ef0a88d75140ee675'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64ca751ef0a88d75140ee676'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64ca751ef0a88d75140ee677'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64ca751ef0a88d75140ee678'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64ca751ef0a88d75140ee679'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64ca751ef0a88d75140ee67a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64ca751ef0a88d75140ee67b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64ca751ef0a88d75140ee67c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64ca751ef0a88d75140ee67d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64ca751ef0a88d75140ee67e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64ca79f4f0a88d75140ee67f'), 'name': 'rahul', 'age': 18}
{'_id': ObjectId('64ca79f4f0a88d75140ee680'), 'name': 'Amy', 'age': 25}
{'_id': ObjectId('64ca79f4f0a88d75140ee681'), 'name': 'Hannah', 'age': 19}
{'_id': ObjectId('64ca79f4f0a88d75140ee682'), 'name': 'Michael', 'age': 23}
{'_id': ObjectId('64ca79f4f0a88d75140ee683'), 'name': 'Sandy', 'age': 27}
{'_id': ObjectId('64ca79f4f0a88d75140ee684'), 'name': 'Betty', 'age': 45}
{'_id': ObjectId('64ca7e53f0a88d75140ee685'), 'name': 'rahul', 'age': '18'}
{'_id': ObjectId('64ca7e53f0a88d75140ee686'), 'name': 'Amy', 'age': '25'}
{'_id': ObjectId('64ca7e53f0a88d75140ee687'), 'name': 'Hannah', 'age': '19'}
{'_id': ObjectId('64ca7e53f0a88d75140ee688'), 'name': 'Michael', 'age': '23'}
{'_id': ObjectId('64ca7e53f0a88d75140ee689'), 'name': 'Sandy', 'age': '27'}
{'_id': ObjectId('64ca7e53f0a88d75140ee68a'), 'name': 'Betty', 'age': '45'}
{'_id': ObjectId('64ccc9c0b6c6712f0e5173f4'), 'name': 'naman', 'class': 'data science masters course ', 'time': '9:0 AM'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f5'), 'name': 'Ammy', 'address': 'Apple st 652'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f6'), 'name': 'Hagnnah', 'address': 'Mountain 21'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173f9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173fe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64ccc9c1b6c6712f0e5173ff'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64ccc9c1b6c6712f0e517400'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517401'), 'name': 'rahul', 'age': '18'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517402'), 'name': 'Amy', 'age': '25'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517403'), 'name': 'Hannah', 'age': '19'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517404'), 'name': 'Michael', 'age': '23'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517405'), 'name': 'Sandy', 'age': '27'}
{'_id': ObjectId('64ccc9ceb6c6712f0e517406'), 'name': 'Betty', 'age': '45'}
{'_id': ObjectId('64cf3f2690c55808b5630e31'), 'name': 'naman', 'class': 'data science masters course ', 'time': '9:0 AM'}
{'_id': ObjectId('64cf3f2890c55808b5630e32'), 'name': 'Ammy', 'address': 'Apple st 652'}
{'_id': ObjectId('64cf3f2890c55808b5630e33'), 'name': 'Hagnnah', 'address': 'Mountain 21'}
{'_id': ObjectId('64cf3f2890c55808b5630e34'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64cf3f2890c55808b5630e35'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64cf3f2890c55808b5630e36'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64cf3f2890c55808b5630e37'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64cf3f2890c55808b5630e38'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64cf3f2890c55808b5630e39'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64cf3f2890c55808b5630e3a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64cf3f2890c55808b5630e3b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64cf3f2890c55808b5630e3c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64cf3f2890c55808b5630e3d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64cf3f4a90c55808b5630e3e'), 'name': 'rahul', 'age': '18'}
{'_id': ObjectId('64cf3f4a90c55808b5630e3f'), 'name': 'Amy', 'age': '25'}
{'_id': ObjectId('64cf3f4a90c55808b5630e40'), 'name': 'Hannah', 'age': '19'}
{'_id': ObjectId('64cf3f4a90c55808b5630e41'), 'name': 'Michael', 'age': '23'}
{'_id': ObjectId('64cf3f4a90c55808b5630e42'), 'name': 'Sandy', 'age': '27'}
{'_id': ObjectId('64cf3f4a90c55808b5630e43'), 'name': 'Betty', 'age': '45'}

In [21]:
new_set = [
    { "_id": 1, "title": "The Great Gatsby", "author": "F. Scott Fitzgerald", "year": 1925 },
    { "_id": 2, "title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960 },
    { "_id": 3, "title": "1984", "author": "George Orwell", "year": 1949 },
    { "_id": 4, "title": "Pride and Prejudice", "author": "Jane Austen", "year": 1813 }
]

In [22]:
coll_connections.insert_many(new_set)

In [26]:
coll_connections.find().sort({'year': '1' });

TypeError: if no direction is specified, key_or_list must be an instance of list

In [19]:
coll_connections.find().sort({ 'age': '1'})

TypeError: if no direction is specified, key_or_list must be an instance of list

In [ ]:
# sir i have tried a lot for this question mail bhi bheja tha koi response nhi aaya live chat zoom pe sir se bhi pucha tha unse bhi nhi hua ye

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [27]:
# delete_one()

# In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines
# the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.

In [28]:
# delete_many()

# Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is
# passed as the first parameter to the delete_many().

In [29]:
# drop()

# drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes 
# associated with the dropped collections. The db. collection.